<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Calculadora de Descontos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/calculadora.css}" />
</head>
<body>
    <header th:include="fragments :: header"></header>
    <section class="container">
        <div th:include="fragments :: jumbotron" class="jumbotron"></div>
        <div th:replace="fragments :: alert (${type}, ${message})"></div>
        <h1>Cálculo do Desconto para o Produto</h1>
        <h2>Dados do Produto</h2>
        <h4><small>Verifique os dados abaixo a fim de identificar se o produto foi selecionado corretamente:</small></h4>
        <div class="card mt-4 mb-4">
            <div class="card-body">
                <form method="post" th:object="${produto}" action="#">
                    <div class="form-group row">
                        <label class="font-weight-bold col-sm-2 col-form-label" for="codigo_produto">Código do produto:</label>
                        <div class="col-sm-10">
                            <input readonly class="form-control" type="text" id="codigo_produto" th:field="*{id}" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="font-weight-bold col-sm-2 col-form-label" for="nome_produto">Nome do produto:</label>
                        <div class="col-sm-10">
                            <input readonly class="form-control" type="text" id="nome_produto" th:value="*{nome}" />
                        </div>
                    </div>
                    <div class="font-weight-bold form-group row">
                        <label class="col-sm-2 col-form-label" for="valor_produto">Valor do produto:</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">R$</div>
                                </div>
                                <input readonly class="form-control pl-1" type="text" id="valor_produto" th:value="${#numbers.formatDecimal(produto.valor, 0, 'POINT', 2, 'COMMA')}" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <h2>Formulário de informações complementares</h2>
        <h4><small>Preencha os dados abaixo para proceder com o cálculo do desconto</small></h4>
        <div class="card mt-4 mb-4">
            <div class="card-body">
                <form method="post" th:object="${item}" th:action="@{/itens/produto/{id}(id=${produto.id})}">
                    <input type="hidden" id="id" th:field="*{id}">
                    <div class="form-group">
                        <label class="font-weight-bold" for="tipoCliente">Tipo de Cliente:</label>
                        <select class="form-control" name="tipoCliente" id="tipoCliente" th:field="*{tipoCliente}">
                            <option th:each="tipo : ${T(net.diegoquirino.calculadora.model.TipoCliente).values()}" th:value="${tipo}" th:text="${tipo}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="quantidade">Quantidade:</label>
                        <input class="form-control" type="text" id="quantidade" th:field="*{quantidade}" />
                    </div>
                    <button type="submit" class="btn btn-primary">Calcular Desconto!</button>
                    <a type="button" class="btn btn-secondary" th:href="@{/produtos}">Cancelar</a>
                </form>
            </div>
        </div>
    </section>
    <footer th:include="fragments :: footer"></footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>